<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="draw2d" class="com.app.Draw2d"/>
    <bean id="draw3d" class="com.app.Draw3d"/>

    <bean id="circle" class="com.app.Circle">
        <constructor-arg ref="draw2d"/>
        <constructor-arg ref="draw3d"/>
    </bean>

    <bean id="square" class="com.app.Square">
        <property name="draw2d" ref="draw2d"/>
        <property name="draw3d" ref="draw3d"/>
    </bean>

</beans>